/*
主页面
Version:1.0
BY:王勇
 */
/*
1.preload
 */
#pre_load{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position:fixed;
    z-index:1;
    margin-top:0px;
    top:0px;
    left:0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;!important;/* 提升优先选择权*/
    z-index:99999px;
}
#pre_load img{
    text-align: center;
    left:0;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    z-index:99;
    margin:0 auto;
}
/* 2.tophead*/
.top_head{
    color:#fff;
    padding-top:8px;
    padding-bottom: 10px;
    background: #141414;
    height: 38px;
}
.top_head a{
    color:#fff;
}
.top_head a:hover{
    text-decoration: underline;
}
.top_head.language_dropdown{
    display: inline;
    position:relative;
    vertical-align: middle;
}
.top_head.language_default,.top_head a,.top_head p,.top_head span{
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 0;
    text-decoration: none;
    letter-spacing: 0.05em;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: normal;
}
.top_head .list-inline{
    margin: 0;
    list-style: none;
}
.top_head .list-inline > li {
    display:inline-block;
    padding-right:5px;
    padding-left:5px;
    text-transform:uppercase;
}
.language_default{
    width: 65px;
    text-transform: uppercase;
    display: inline;
}
.language-default {
    width:40px;
    display:inline-block;
    cursor:pointer;
    margin-right:10px
}
/*.language-default:after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}*/
#language{
    top:29px;
    left:-5px;
    display:none;
    position: absolute;
    background: #fff;
    border:1px #ffffff;
    padding: 0;
    z-index:333;
}
#language li {
    color:#000;
    font-size:12px;
    cursor:pointer;
    padding:5px 15px;
    list-style:none;
    border-bottom:solid 1px #ddd;
}
#language li:hover {
    background:#f5f5f5;
}
/* container*/
.container-fluid{
    padding: 0 50px;
}
.container-fluid:before,
.container-fluid:after { content:''; clear:both; display:block; }
.grid{
    /*zoom:1;*/
    list-style:none;
    margin: 0;
    paddin:0;
    margin-left: -30px;
}
.grid_item{
    float: left;
    padding-left:30px;
    width: 100%;
}
.logo{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.classicHeader {
    position:absolute;
    width:100%;
    z-index:8;
}
/* navagation*/
#NAV_BYMYSELF{
    position: relative;
    max-width: 1200px;
    margin:0 auto;
    padding:0;
    list-style: none;
}
#NAV_BYMYSELF.right{
    text-align: right;
}
#NAV_BYMYSELF.left{
    text-align: left;
}
#NAV_BYMYSELF.center{
    text-align: center;
}
#NAV_BYMYSELF a{
    text-decoration: none;
    font-size:13px;
    display:block;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.05em;
    position: relative;
}
#NAV_BYMYSELF >li{
    display: inline-block;
    text-align: left;
}
#NAV_BYMYSELF >li >a{
    color:#000000;
    padding: 0 20px;
    line-height: 40px;
}
#NAV_BYMYSELF.middle >li a{
    font-weight: 600;
}
#NAV_BYMYSELF > li > a:hover:hover,
#NAV_BYMYSELF >li >a:hover{
    color:#0f6674;
}
#NAV_BYMYSELF >li .navmenu{
    opacity: 1%;
    visibility: hidden;
    padding:25px 25px 0;
    width:100%;
    position:absolute;
    top:59px;
    left:0;
    z-index:999;
    background-color: #ffffff;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3);
    pointer-events: none;
    transition: all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    border: 1px solid #ffffff;
    max-height: 600px;
    overflow: auto;
}
#NAV_BYMYSELF >li .navmenu ul{
    padding:0;
    list-style: none;
}
#NAV_BYMYSELF >li:hover > .navmenu{
    top:40px;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}
#NAV_BYMYSELF >li .navmenu li.layer1{
    margin-bottom: 25px;
}
#NAV_BYMYSELF >li .navmenu li.layer1 a.layer1{
    color: #000000;
    font-size: 14px;
    padding: 0 0 8px;
    font-weight: 600;
}
#NAV_BYMYSELF > li .navmenu li.layer1 li .site-nav{
    color:#000000;
    padding: 5px 0;
    font-weight: 400;
}
#NAV_BYMYSELF > li .navmenu li.layer1 li .site-nav:hover{
    color:#000000;
}
#NAV_BYMYSELF > li .navmenu li.layer1 li .site-nav:before{
    content:"";
    display:inline-block;
    width:0px;
    height: 2px;
    vertical-align: middle;
    background-color: #000000;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#NAV_BYMYSELF > li .navmenu li.layer1 li .site-nav:hover:before{
    width: 5px;
    margin-right: 3px;
}
#NAV_BYMYSELF > li .navmenu.img1{
    background-repeat: no-repeat;
    background-size: auto 100%;
}
#NAV_BYMYSELF > li .navmenu.img2{
    padding-bottom: 25px;
}
#NAV_BYMYSELF > li.dropdown{
    position: relative;
}
#NAV_BYMYSELF > li .dropdown,
#NVA_BYMYSELF > li .dropdown ul{
    list-style: none;
    border: 1px solid #ffffff;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    position: absolute;
    top:59px;
    left:0;
    z-index:999;
    box-shadow:2px 2px 1px 0px rgba(0,0,0,0.3);
    -ms-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    padding:0;
}
#NAV_BYMYSELF > li:hover > .dropdown,
#NAV_BYMYSELF > li .dropdown li:hover > ul{
    top:40px;
    opacity: 1;
    visibility: visible;
}
#NAV_BYMYSELF > li ul.dropdown li{
    border-top:1px solid #ffffff;
    position: relative;
}
#NAV_BYMYSELF > li ul.dropdown li a {
    color:#000;
    font-weight:400;
    padding:8px 12px;
    background-color:#ffffff;
}
#NAV_BYMYSELF  > li ul.dropdown li a:hover {
    color:#000;
    background-color:#eee;
    padding-left: 17px;
}
#NAV_BYMYSELF > li ul.dropdown li ul {
    top:20px;
    left:100%;
}
#NAV_BYMYSELF  > li ul.dropdown li:hover > ul {
    top:0;
}
/*slick slider*/
.slideshow-wrapper {
    position:relative;
}
.slideshow .slide {
    position:relative;
}
.slideshow .wrap-caption.center {
    max-width:1200px;
}
.slideshow .wrap-caption.right {
    float:right;
}
.slideshow .wrap-caption.left {
    float:left;
}
.slideshow .wrap-caption {
    display:inline-block;
    padding:25px;
}
.slideshow__text-content {
    text-align:center;
    margin-top:30px;
    position:absolute;
    width:100%; top:50%;
    -ms-transform:translateY(-40%);
    -webkit-transform:translateY(-40%);
    transform:translateY(-40%);
    opacity:0;
    transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
    -webkit-transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
    -ms-transition:all 0.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
    transition-delay:0.3s;
    -webkit-transition-delay:0.3s;
    -ms-transition-delay:0.3s;
    z-index:3; }
.slideshow__text-content.bottom {
    top:inherit;
    bottom:10%;
    -ms-transform:translateY(10%);
    -webkit-transform:translateY(10%);
    transform:translateY(10%);
}
.slideshow__text-content.top {
    top:10%;
    -ms-transform:translateY(10%);
    -webkit-transform:translateY(10%);
    transform:translateY(10%);
}
.slick-active .slideshow__text-content.bottom {
    -ms-transform:translateY(0);
    -webkit-transform:translateY(0);
    transform:translateY(0);
}
.slick-active .slideshow__text-content.top {
    -ms-transform:translateY(-5%);
    -webkit-transform:translateY(-5%);
    transform:translateY(-5%);
}
.slick-active .slideshow__text-content, .no-js .slideshow__text-content {
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    opacity:1; }
.slideshow .slideshow__title {
    color:#ffffff;
    font-weight:700;
    font-size:66px;
    text-transform:uppercase;
    line-height:1.1;
    text-shadow:1px 1px 7px rgba(0,0,0,0);
}
.slideshow .slideshow__subtitle {
    color:#ffffff;
    font-weight:400;
    font-size:16px;
    text-transform:uppercase;
    margin-bottom:20px;
    line-height:1.2;
    text-shadow:1px 1px 4px rgba(0,0,0,0);
    display:block; }
.slideshow__text-wrap {
    height:100%;
}
.slick-active .slideshow__image.img-animate {
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
}
.slideshow__image.img-animate {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.slideshow__overlay.bottom:before {
    background:-ms-linear-gradient(bottom, rgba(0,0,0,0) 0%, #000 100%);
    background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
}
.slideshow__overlay:before { content: '';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0.5;
    z-index:3;
}
.slideshow .slick-slide img {
    width:100%;
}
.slideshow .slick-prev, .slideshow .slick-next {
    line-height:normal;
    font-size:0px;
    padding:0;
    border:0;
    opacity:0.5;
    position:absolute;
    z-index:4; top:50%;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:40px;
    height:40px;
    border-radius:5px;
    text-align:center;
    background-color:rgba(255,255,255,0.1);
    -ms-transition:all ease-out 0.2s;
    -webkit-transition:all ease-out 0.2s;
    transition:all ease-out 0.2s;
}
.slideshow .slick-prev {
    left:10px;
}
.slideshow .slick-next {
    right:10px;
}
.slideshow .slick-next:before {
    content:"\ea8c";
    font-family:"annimex-icons";
    color:#000;
}
.slideshow .slick-prev:before {
    content:"\ea8b";
    font-family:"annimex-icons";
    color:#000;
}
.slideshow .slick-prev:before, .slideshow .slick-next:before {
    font-size:20px;
    line-height:20px;
}
.slideshow .slick-prev:hover, .slideshow .slick-next:hover {
    opacity:0.7;
    background-color:rgba(255,255,255,0.7);
    box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
}
.slideshow .btn {
    color:#fff;
    background-color:#000;
}
.slideshow .btn:hover, .slideshow .btn:focus {
    opacity:0.8;
}
.section1{
    padding-bottom: 25px;
}
.section2{
    padding-top: 35px;
    padding-bottom: 35px;
}
.section_head{
    margin-bottom: 35px;
}
/*图片虚化*/
.faint{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter 400ms,-webkit-filter 400ms;
    -webkit-transition: filter 400ms,-webkit-filter 400ms;
}
.faint.lazyloaded { -webkit-filter:blur(0); filter:blur(0); }
.slideshow .slideshow__title { font-size:55px; }
.slideshow .slideshow__title { font-size:50px; }
.slideshow .slideshow__subtitle { font-size:22px; }
.slideshow__text-content.bottom { bottom:2%; }
.slideshow .slideshow__title { font-size:53px; }
.slideshow .slideshow__subtitle { font-size:20px; }
/*  展示一些比较好的租房*/
.show_rent.section2 .section_head{
    margin-bottom: 15px;
}
.clearfix:before, .clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both; }
/*选项卡*/
.show_rent .tabs{
    border:0;
    text-align:center;
    margin:0 0 30px;
    padding:0;
}
.show_rent .tabs > li{
    float:none;
    display:inline-block;
    margin:0 15px;
    cursor:pointer;
}
.show_rent .tabs > li{
    background:none !important;
    border:0 !important;
    letter-spacing:1px;
    color:#929292;
    font-weight:600;
    font-size:13px;
    padding-top:0;
}
.show_rent .tabs > li.active{
    color: #111111;
}
.show_rent .tabs li:hover, .show_rent .tabs li:focus{
    color: black;
    opacity: 1;
    text-decoration: underline;
}
.show_rent .tab_container{
    clear: both;
    width: 100%;
    background-size: #ffffff;
}
.show_rent .tab_content{
    display: none;
}
<!--房子 -->
.grid-products a { text-decoration:none !important; }
.grid-products .item .product-image .showVariantImg img {
    opacity:0; visibility:hidden;
}
<!-- 房子照片 -->
.grid-products .item .product-image .showVariantImg .variantImg { visibility:visible; opacity:1; }
.grid-products .item .product-image .showLoading { transition: .5s; animation: loader-rotate .8s infinite linear; background: 0 0 !important; border: 3px solid rgba(100,100,100,.5);     border-top-color: rgba(100, 100, 100, 0.5); border-radius: 100%; border-top-color: #fff; content: ""; height: 34px !important; left: 50%; line-height: 1; margin-left: -17px; margin-top: -17px; pointer-events: none; position: absolute; top: 50% !important; -webkit-animation: loader-rotate .8s infinite linear; width: 34px !important; z-index: 154 !important; }
.grid-products .item .product-image { position:relative; overflow:hidden; margin:0 auto 15px; }
.grid-products .item .product-image > a { display:block; white-space:nowrap; opacity:1; }
.grid-products .item .product-image img { display:inline-block; width:100%; margin:0 auto; vertical-align:middle; -ms-transition:all ease-out 0.4s; -webkit-transition:all ease-out 0.4s; transition:all ease-out 0.4s; }
.grid-products .item .product-image .hover { visibility:hidden; opacity:0; left:50%; top:50%; position:absolute; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.grid-products .item .product-image:hover .primary { opacity:0; }
.grid-products .item .product-image:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }
<!-- slick自带的属性 -->
.grid-products .item .product-image .showVariantImg img { opacity:0; visibility:hidden; }
.grid-products .item .product-image .showVariantImg .variantImg { visibility:visible; opacity:1; }
.grid-products .item .product-image .showLoading { transition: .5s; animation: loader-rotate .8s infinite linear; background: 0 0 !important; border: 3px solid rgba(100,100,100,.5);     border-top-color: rgba(100, 100, 100, 0.5); border-radius: 100%; border-top-color: #fff; content: ""; height: 34px !important; left: 50%; line-height: 1; margin-left: -17px; margin-top: -17px; pointer-events: none; position: absolute; top: 50% !important; -webkit-animation: loader-rotate .8s infinite linear; width: 34px !important; z-index: 154 !important; }
.grid-products .item .product-image { position:relative; overflow:hidden; margin:0 auto 15px; }
.grid-products .item .product-image > a { display:block; white-space:nowrap; opacity:1; }
.grid-products .item .product-image img { display:inline-block; width:100%; margin:0 auto; vertical-align:middle; -ms-transition:all ease-out 0.4s; -webkit-transition:all ease-out 0.4s; transition:all ease-out 0.4s; }
.grid-products .item .product-image .hover { visibility:hidden; opacity:0; left:50%; top:50%; position:absolute; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.grid-products .item .product-image:hover .primary { opacity:0; }
.grid-products .item .product-image:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }
.grid-view_image:hover .primary { opacity:0; visibility:hidden; }
.grid-view_image:hover .hover:not(.variantImg) { opacity:1; visibility:visible; }
.slick-prev, .slick-next { position:absolute; z-index:9; display:block; height:auto; line-height:normal; font-size:0px; padding:6px 10px; cursor:pointer; background:transparent; color:transparent; top:50%; -webkit-transform:translate(0, -50%); -ms-transform:translate(0, -50%); transform:translate(0, -50%); padding:0; border:none; opacity:0.5; }
.slick-prev:before, .slick-next:before { font-family:"annimex-icons"; font-size:20px; line-height:1; color:#000; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.slick-prev:before { content:"\ea8b"; }
.slick-next::before { content:"\ea8c"; }
.productSlider:hover .slick-arrow, .productPageSlider:hover .slick-arrow, .productSlider-style1:hover .slick-arrow, .productSlider-style2:hover .slick-arrow,
.productSlider-style2:hover .slick-arrow, .productSlider-fullwidth:hover .slick-arrow { opacity:1; }
.grid-products .slick-arrow { margin-top:-50px; }
.productPageSlider .slick-arrow { margin-top:-40px; }
.productSlider-style1 .slick-arrow, .productSlider-style2 .slick-prev, .productSlider-fullwidth .slick-prev { margin-top:-10px; }
.productSlider .slick-arrow, .productPageSlider .slick-arrow, .productSlider-style1 .slick-arrow,
.productSlider-style2 .slick-arrow, .productSlider-fullwidth .slick-arrow { padding:6px 10px; border-radius:5px; opacity:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
.productSlider .slick-next, .productPageSlider .slick-next, .productSlider-style1 .slick-next,
.productSlider-style2 .slick-next, .productSlider-fullwidth .slick-next { right:-35px; }
.productSlider .slick-prev, .productPageSlider .slick-prev, .productSlider-style1 .slick-prev,
.productSlider-style2 .slick-prev, .productSlider-fullwidth .slick-prev { left:-35px; }
.grid-products .slick-slider .item, .grid-products.slick-slider .item { margin-bottom:0; }


