<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <link href="../static/css/index/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index/slick.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index/Style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index/Baisc.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index/responsive.css" rel="stylesheet" type="text/css">
</head>
<body class="WANGYONG">
<!-- 加载-->
<div id="pre_load">
    <img src="../static/img/loader.gif" alt="load">
</div>
<!-- 头部-->
<div class="allpage">
    <div class="top_head">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <div class="language_dropdown">
                        <span class="language_default">chinese</span>
                        <ul id="language">
                            <li class="">ENGLISH</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                    <div class="text-center"><p class="#">测试</p></div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                    <ul class="list-inline link">
                        <li><a href="../login/templates/login.html"><svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                        </svg></a></li>
                        {% if message %}
                            <li><a href="../account/">{{ message }}</a> </li>
                        {% endif %}
                        {% csrf_token %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navgation d-flex classicHeader">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- logo-->
                <div class="logo col-2 col-md-2 col-lg-2 d-none d-block">
                    <a href="Index.html">
                        <img src="#" alt="logo" title="logo">
                    </a>
                </div>
                <!--navgation -->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <nav class="grid_item">
                        <ul id="NAV_BYMYSELF" class="site-nav center middle">
                            <li class="layer1"><a href="">HOME</a>
                                <div class="navmenu">
                                    <ul class="grid">
                                        <li class="grid_item">
                                            <ul class="grid">
                                                <li class="grid_item layer1 col-lg-3 col-md-3">
                                                    <a href="#" class="site-nav layer1">Test</a>
                                                    <ul class="sub">
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                    </ul>
                                                </li>
                                                <li class="grid_item layer1 col-lg-3 col-md-3">
                                                    <a href="#" class="site-nav layer1">Test</a>
                                                    <ul class="sub">
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                    </ul>
                                                </li>
                                                <li class="grid_item layer1 col-lg-3 col-md-3">
                                                    <a href="#" class="site-nav layer1">Test</a>
                                                    <ul class="sub">
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                    </ul>
                                                </li>
                                                <li class="grid_item layer1 col-lg-3 col-md-3">
                                                    <a href="#" class="site-nav layer1">Test</a>
                                                    <ul class="sub">
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                        <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="layer1 navmenu">
                                <a href="../rent/search/">RENT</a>
                                <div class="navmenu img1">
                                    <ul class="grid">
                                        <li class="grid_item layer1 col-md-3 col-lg-3 "><a href="#" class="site-nav layer1">RENT CHOICES</a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3 "><a href="#" class="site-nav layer1">RENT CHOICES</a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                                <li class="layer2"><a href="#" class="site-nav layer2">To Be Continued</a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-6 col-lg-6">
                                            <a href="#"><img src="../static/img/2.jpg" width="400px" height="300px"></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                           <li class="layer1 navmenu">
                                <a href="../subscribe/">SUBSCRIBE</a>
                                <div class="navmenu">
                                    <ul class="grid">
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="layer1 navmenu">
                                <a href="../repair/">REPAIR</a>
                                <div class="navmenu">
                                    <ul class="grid">
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                        <li class="grid_item layer1 col-md-3 col-lg-3">
                                            <a href="#" class="site-nav layer1"></a>
                                            <ul class="sub">
                                                <li class="layer2"><a href="#" class="site-nav layer2"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="layer1 dropdown">
                                <a href="#">ABOUT US</a>
                                <ul class="dropdown">
                                    <li ><a href="#" class="site-nav">王勇</a>
                                        <ul class="dropdown">
                                            <li><a href="#" class="site-nav">QQ</a></li>
                                            <li><a href="#" class="site-nav">PHONE</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="#" class="site-nav">田震</a>
                                        <ul class="dropdown">
                                            <li><a href="#" class="site-nav">QQ</a></li>
                                            <li><a href="#" class="site-nav">PHONE</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="#" class="site-nav">吴朝旭</a>
                                        <ul class="dropdown">
                                            <li><a href="#" class="site-nav">QQ</a></li>
                                            <li><a href="#" class="site-nav">PHONE</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="#" class="site-nav">李岱泉</a>
                                        <ul class="dropdown">
                                            <li><a href="#" class="site-nav">QQ</a></li>
                                            <li><a href="#" class="site-nav">PHONE</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="#" class="site-nav">陈宇畅</a>
                                        <ul class="dropdown">
                                            <li><a href="#" class="site-nav">QQ</a></li>
                                            <li><a href="#" class="site-nav">PHONE</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="checkout.html" class="site-nav">OUR BLOG</a></li>
                                    <li><a href="checkout.html" class="site-nav">OUR GITHUB</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--header end -->
    <!--Home slick slider -->
    <div id="page-content">
        <div class="slideshow slideshow-wrapper section1 sliderFull">
            <div class="home-slideshow">
                <div class="slide">
                    <div class="faint lazyload bg-size">
                        <img class="faint lazyload bg-img" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="RENT" title="RENT"  />
                        <div class="slideshow__text-wrap slideshow__overlay  bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">RENT OUR HOME</h2>
                                    <span class="mega-subtitle slideshow__subtitle">WE ARE THE BEST IN THE WORLD</span>
                                    <span class="btn">RENT NOW<a href="#"></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="faint lazyload bg-size">
                        <img class="faint lazyload bg-img" data-src="../static/img/slide2.jpg" src="../static/img/slide2.jpg" alt="RENT" title="RENT" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">RENT OUR HOME</h2>
                                    <span class="mega-subtitle slideshow__subtitle">WE ARE THE BEST IN THE WORLD</span>
                                    <span class="btn btn-link">RENT NOW<a href="#"></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="show_rent section2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="section_head text-center" >
                        <h2 class="h2">优质租房</h2>
                        <p>专门为你选择</p>
                    </div>
                    <div class="listing">
                        <ul class="tabs clearfix">
                            <li class="active" rel="tab1">单人间</li>
                            <li class="#" rel="tab2">双人间</li>
                            <li class="#" rel="tab3">四人间</li>
                        </ul>
                        <div class="tab_container">
                            <div id="tab1" class="tab_content grid-products">
                                <div class="productSlider">
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab_content grid-products">
                                <div class="productSlider">
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab_content grid-products">
                                <div class="productSlider">
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 item">
                                        <div class="product-image">
                                            <a href="short-description.html">
                                                <img class="faint lazyload" data-src="../static/img/slide1.jpg" src="../static/img/slide1.jpg" alt="image" title="product">
                                            </a>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-name">
                                                <a href="short-description.html">测试</a>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">测试</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer style=" background-color: rgb(0,0,0); color: rgb(255, 255, 255); padding: 30px 50px;height: auto">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="margin: 8px 0px;">Copyright ©2020  by 王勇
            </div>
            <div style="margin: 8px 0px;">违法和不良信息举报电话：010-86440676 违法和不良信息举报邮箱：672515431@qq.com</div>
            <div style="margin: 8px 0px;">联系电话:18888888888</div>
            <div style="width: 300px;height: 1px; background-color: #FFFFFF;margin-top: 20px;"></div>
        </div>
    </footer>
</div>
<script src="../static/js/index/jquery-2.1.4.min.js"></script>
<script src="../static/js/index/jquery-3.3.1.min.js"></script>
<script src="../static/js/index/jquery.cookie.js"></script>
<script src="../static/js/index/bootstrap.js"></script>
<script src="../static/js/index/slider.js"></script>
<script src="../static/js/index/MAIN.js"></script>
</body>
</html>